.el-header {
    background: #303133;
}

.stu-header {
    color: #fff;
    .content {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    .left {
        flex: 1;
        display: flex;
        align-items: center;
    }
    i {
        font-size: 24px; 
        color: #fff; 
        cursor: pointer
    }
    .user {
        line-height: 40px;
        width: 40px;
        border: 1px solid #606266;
        text-align: center;
        border-radius: 50%;
        height: 40px;
    }
}